<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class="row">
            <div *ngFor="let error of errores"class="col-lg-3">
                <app-alert [error]="error"></app-alert>
            </div>
        </div>         
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">
            <div class=" card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[0]}}</h3>
                            <h4> {{this.datosTiempoReal[0]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[1]}}</h3>
                            <h4> {{this.datosTiempoReal[1]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[2]}}</h3>
                            <h4> {{this.datosTiempoReal[2]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[3]}}</h3>
                            <h4> {{this.datosTiempoReal[3]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[4]}}</h3>
                            <h4> {{this.datosTiempoReal[4]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[5]}}</h3>
                            <h4> {{this.datosTiempoReal[5]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[6]}}</h3>
                            <h4> {{this.datosTiempoReal[6]}} </h4>
                        </ngb-alert>
                    </div>
                    <div class="col-lg-3">
                        <ngb-alert [type]="'info'" [dismissible]="false">
                            <h3>{{this.labels2[7]}}</h3>
                            <h4> {{this.datosTiempoReal[7]}} </h4>
                        </ngb-alert>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">COP</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> COP FRIO 1
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartCOPFrio1"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">POTENCIA</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> POTENCIA FRIO 1
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartPotenciaFrio1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">COP</h5>
          <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-danger-states"> </i> COP FRIO 2
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartCOPFrio2"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">POTENCIA</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> POTENCIA FRIO 2
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartPotenciaFrio2"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-lg-6">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">COP</h5>
            <h3 class=" card-title">
                <i class=" tim-icons icon-bell-55 text-danger-states"> </i> COP CALOR CARLOS
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartCOPCalorCarlos"> </canvas></div>
          </div>
        </div>
      </div>
      <div class=" col-lg-6">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">POTENCIA</h5>
            <h3 class=" card-title">
                <i class=" tim-icons icon-bell-55 text-danger-states"> </i> POTENCIA CALOR CARLOS
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartPotenciaCalorCarlos"> </canvas></div>
          </div>
        </div>
      </div>
  </div>
  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">COP</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> COP CALOR FELIPE
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartCOPCalorFelipe"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">POTENCIA</h5>
          <h3 class=" card-title">
              <i class=" tim-icons icon-bell-55 text-danger-states"> </i> POTENCIA CALOR FELIPE
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartPotenciaCalorFelipe"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
      <div class=" col-12">
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-6 text-left">
                <h5 class=" card-category">TEMPERATURA</h5>
                <h2 class=" card-title">TEMPERATURA EXTERIOR</h2>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartTempExt" > </canvas></div>
          </div>
        </div>
      </div>
    </div>
</div>