<div class=" content">
    <div class=" row">
        <div class=" col-12">
          <div class=" card card-chart">
              <div class=" card-body">
                  <div class="row">
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[0]}}</h4>
                              <h5> {{this.valores[0]}}</h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[1]}}</h4>
                              <h5> {{this.valores[1]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[2]}}</h4>
                              <h5> {{this.valores[2]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[3]}}</h4>
                              <h5> {{this.valores[3]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[4]}}</h4>
                              <h5> {{this.valores[4]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[5]}}</h4>
                              <h5> {{this.valores[5]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[6]}}</h4>
                              <h5> {{this.valores[6]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[7]}}</h4>
                              <h5> {{this.valores[7]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[8]}}</h4>
                              <h5> {{this.valores[8]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[9]}}</h4>
                              <h5> {{this.valores[9]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[10]}}</h4>
                              <h5> {{this.valores[10]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[11]}}</h4>
                              <h5> {{this.valores[11]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[12]}}</h4>
                              <h5> {{this.valores[12]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[13]}}</h4>
                              <h5> {{this.valores[13]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[14]}}</h4>
                              <h5> {{this.valores[14]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[15]}}</h4>
                              <h5> {{this.valores[15]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[16]}}</h4>
                              <h5> {{this.valores[16]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[17]}}</h4>
                              <h5> {{this.valores[17]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[18]}}</h4>
                              <h5> {{this.valores[18]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[19]}}</h4>
                              <h5> {{this.valores[19]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[20]}}</h4>
                              <h5> {{this.valores[20]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[21]}}</h4>
                              <h5> {{this.valores[21]}} </h5>
                          </ngb-alert>
                      </div>
                      <div class="col-lg-3">
                          <ngb-alert [type]="'info'" [dismissible]="false">
                              <h4>{{this.labels[22]}}</h4>
                              <h5> {{this.valores[22]}} </h5>
                          </ngb-alert>
                      </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
</div>