<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-body">
                    <h3>FRIO 1</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaFrio1">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[0]}}</h4>
                                    <h3> {{this.valores[0]}}</h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaFrio1">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[0]}}</h4>
                                    <h3> {{this.valores[0]}}</h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTermicaFrio1">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[6]}}</h4>
                                    <h3> {{this.valores[6]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTermicaFrio1">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[6]}}</h4>
                                    <h3> {{this.valores[6]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!entradaAgua1">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[12]}}</h4>
                                    <h3> {{this.valores[12]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="entradaAgua1">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[12]}}</h4>
                                    <h3> {{this.valores[12]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!salidaAgua1">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[14]}}</h4>
                                    <h3> {{this.valores[14]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="salidaAgua1">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[14]}}</h4>
                                    <h3> {{this.valores[14]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <h3>FRIO 2</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaFrio2">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[1]}}</h4>
                                    <h3> {{this.valores[1]}}</h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaFrio2">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[1]}}</h4>
                                    <h3> {{this.valores[1]}}</h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTermicaFrio2">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[7]}}</h4>
                                    <h3> {{this.valores[7]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTermicaFrio2">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[7]}}</h4>
                                    <h3> {{this.valores[7]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!entradaAgua2">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[13]}}</h4>
                                    <h3> {{this.valores[13]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="entradaAgua2">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[13]}}</h4>
                                    <h3> {{this.valores[13]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!salidaAgua2">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[15]}}</h4>
                                    <h3> {{this.valores[15]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="salidaAgua2">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[15]}}</h4>
                                    <h3> {{this.valores[15]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <h3>CALOR CARLOS</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaCalorCarlos">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[2]}}</h4>
                                    <h3> {{this.valores[2]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaCalorCarlos">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[2]}}</h4>
                                    <h3> {{this.valores[2]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTermicaCalorCarlos">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[8]}}</h4>
                                    <h3> {{this.valores[8]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTermicaCalorCarlos">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[8]}}</h4>
                                    <h3> {{this.valores[8]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!tempAmbCalorCarlos">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[10]}}</h4>
                                    <h3> {{this.valores[10]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="tempAmbCalorCarlos">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[10]}}</h4>
                                    <h3> {{this.valores[10]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!tempSalidaCalorFelipe">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[5]}}</h4>
                                    <h3> {{this.valores[5]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="tempSalidaCalorFelipe">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[5]}}</h4>
                                    <h3> {{this.valores[5]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <h3>CALOR FELIPE</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTermicaCalorFelipe">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[9]}}</h4>
                                    <h3> {{this.valores[9]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTermicaCalorFelipe">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[9]}}</h4>
                                    <h3> {{this.valores[9]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaCalorFelipe">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[3]}}</h4>
                                    <h3> {{this.valores[3]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaCalorFelipe">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[3]}}</h4>
                                    <h3> {{this.valores[3]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!tempSalidaCalorCarlos">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[4]}}</h4>
                                    <h3> {{this.valores[4]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="tempSalidaCalorCarlos">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[4]}}</h4>
                                    <h3> {{this.valores[4]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!tempAmbCalorFelipe">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[11]}}</h4>
                                    <h3> {{this.valores[11]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="tempAmbCalorFelipe">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[11]}}</h4>
                                    <h3> {{this.valores[11]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <h3>GENERALES</h3>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!kigofriFrio1">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[16]}}</h4>
                                    <h3> {{this.valores[16]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="kigofriFrio1">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[16]}}</h4>
                                    <h3> {{this.valores[16]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!kigofriFrio2">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[17]}}</h4>
                                    <h3> {{this.valores[17]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="kigofriFrio2">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[17]}}</h4>
                                    <h3> {{this.valores[17]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTrafo4">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[18]}}</h4>
                                    <h3> {{this.valores[18]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTrafo4">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[18]}}</h4>
                                    <h3> {{this.valores[18]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaTrafo5">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[19]}}</h4>
                                    <h3> {{this.valores[19]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaTrafo5">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[19]}}</h4>
                                    <h3> {{this.valores[19]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div *ngIf="!potenciaMedia">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[20]}}</h4>
                                    <h3> {{this.valores[20]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="potenciaMedia">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[20]}}</h4>
                                    <h3> {{this.valores[20]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!controlFrio">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[21]}}</h4>
                                    <h3> {{this.valores[21]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="controlFrio">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[21]}}</h4>
                                    <h3> {{this.valores[21]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div *ngIf="!tempExt">
                                <ngb-alert [type]="'info'" [dismissible]="false">
                                    <h4>{{this.labels[22]}}</h4>
                                    <h3> {{this.valores[22]}} </h3>
                                </ngb-alert>
                            </div>
                            <div *ngIf="tempExt">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <h4>{{this.labels[22]}}</h4>
                                    <h3> {{this.valores[22]}} </h3>
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>